
body {
	background: red;
}
footer {
	background: gray;
	clear: both;
}
.footer {
	overflow: auto;

}
.main {
	overflow: auto;
}

.contactus {
	float: left;
	margin-left: 50px;
}
.sitemap {
	float: right;
	margin-right: 50px;

}
 .left {
 	float: left;
 	margin-right: 50px;
 }
 .right {
 	float: right;
 	margin-left: 50px;
 }
 span {
 	color: maroon;
 }
 .h2andh3 {
 	float: left;
 }
 .img {
 	float: right;
 	margin-right: 15%
 }
 h2, h3 {
 	margin-left: 65px;
 }
 main p {
 	margin-left: 65px;

 }
 header h1 {
 	margin-right: 300px;
 	display: inline-block;
 	margin-left:300px;
 	color: red;
 }
 header nav {
 	display: inline-block;
 }
 a {
 	color: red;
 }
 a:hover {
 	color: blue;
 }
